h1 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
body {
    background-image: url("./349871.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    max-width: max-content;
    margin: auto;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
    color: rgb(42, 228, 197);
}
ul {
    text-align: center;
}