.u-section-1 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    margin: 60px auto 0;
  }

  .u-section-1 .u-text-2 {
    letter-spacing: 0px;
    line-height: 2;
    font-size: 1.25rem;
    width: 781px;
    margin: 20px auto 0;
  }

  .u-section-1 .u-social-icons-1 {
    height: 62px;
    min-height: 16px;
    width: 246px;
    min-width: 108px;
    margin: 30px auto 60px;
  }

  .u-section-1 .u-icon-1 {
    height: 100%;
  }

  .u-section-1 .u-icon-2 {
    height: 100%;
  }

  .u-section-1 .u-icon-3 {
    height: 100%;
  }

  @media (max-width: 991px) {
    .u-section-1 .u-text-2 {
      width: 720px;
    }
  }

  @media (max-width: 767px) {
    .u-section-1 .u-text-2 {
      width: 540px;
    }
  }

  @media (max-width: 575px) {
    .u-section-1 .u-text-2 {
      width: 340px;
    }
  }

