.u-section-1 {
    min-height: 734px;
    background-image: none;
  }

  .u-section-1 .u-text-1 {
    font-weight: 700;
    font-size: 3rem;
    width: 510px;
    margin: 70px auto 0;
  }

  .u-section-1 .u-text-2 {
    width: 510px;
    margin: 27px auto 0;
  }

  .u-section-1 .u-shape-1 {
    height: 285px;
    margin-bottom: 0;
    margin-top: 142px;
    background-image: none;
  }

  .u-section-1 .u-list-1 {
    width: 1140px;
    margin: -388px auto 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 27.3333px) calc(33.3333% - 27.3333px) calc(33.3333% - 27.3333px);
    min-height: 321px;
    grid-gap: 41px 41px;
    grid-auto-columns: calc(33.3333% - 27.3333px);
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-1 .u-icon-1 {
    width: 64px;
    height: 64px;
    background-image: none;
    margin: 0 auto;
  }

  .u-section-1 .u-text-3 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 50px 10px 0;
  }

  .u-section-1 .u-text-4 {
    margin: 20px 0 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-1 .u-icon-2 {
    width: 64px;
    height: 64px;
    background-image: none;
    margin: 0 auto;
  }

  .u-section-1 .u-text-5 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 50px 10px 0;
  }

  .u-section-1 .u-text-6 {
    margin: 20px 0 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-1 .u-icon-3 {
    width: 64px;
    height: 64px;
    background-image: none;
    margin: 0 auto;
  }

  .u-section-1 .u-text-7 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 50px 10px 0;
  }

  .u-section-1 .u-text-8 {
    margin: 20px 0 0;
  }

  .u-section-1 .u-gallery-nav-1 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
  }

  .u-section-1 .u-gallery-nav-2 {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
  }

  @media (max-width: 1199px) {
    .u-section-1 .u-list-1 {
      width: 940px;
    }

    .u-section-1 .u-repeater-1 {
      min-height: 265px;
      grid-template-columns: repeat(3, calc(33.333333333333336% - 27.333299999999998px));
      grid-auto-columns: calc(33.333333333333336% - 27.333299999999998px);
    }

    .u-section-1 .u-text-3 {
      margin-left: 0;
      margin-right: 0;
    }

    .u-section-1 .u-text-5 {
      margin-left: 0;
      margin-right: 0;
    }

    .u-section-1 .u-text-7 {
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media (max-width: 991px) {
     .u-section-1 {
      min-height: 1025px;
    }

    .u-section-1 .u-shape-1 {
      height: 576px;
    }

    .u-section-1 .u-list-1 {
      width: 720px;
      margin-top: -679px;
    }

    .u-section-1 .u-repeater-1 {
      min-height: 609px;
      grid-template-columns: repeat(2, calc(50% - 20.499975px));
      grid-auto-columns: calc(50% - 20.499975px);
    }
  }

  @media (max-width: 767px) {
     .u-section-1 {
      min-height: 1337px;
    }

    .u-section-1 .u-shape-1 {
      height: 888px;
    }

    .u-section-1 .u-list-1 {
      width: 354px;
      margin-top: -991px;
      margin-bottom: 52px;
    }

    .u-section-1 .u-repeater-1 {
      min-height: 862px;
      grid-template-columns: 100%;
      grid-auto-columns: calc(100% - 0px);
    }

    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }

    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }

    .u-section-1 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  @media (max-width: 575px) {
     .u-section-1 {
      min-height: 1323px;
    }

    .u-section-1 .u-text-1 {
      font-size: 2.25rem;
      width: 340px;
    }

    .u-section-1 .u-text-2 {
      width: 340px;
    }

    .u-section-1 .u-list-1 {
      width: 340px;
    }

    .u-section-1 .u-repeater-1 {
      grid-auto-columns: 100%;
    }
  }

